<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>info</h1>
    <p>I have made this with just html and js. the login page uses no js just forms. some things will just work with regular html just fine</p>
    <br>
    <p>the structure of this project is just convention, and requires the least amount of extra config. it allows the js to be sent with the html and also css if I'd written that. 
        statics is for anything that goes with the html, ie images, javascript css and templates are the html files themselves. there are some formatting things you can do with the templates.
        the flask docs is <a href ='https://flask.palletsprojects.com/en/2.0.x/'>here</a> its worth a read if you get stuck. stack overflow is also good for issues. googling is really helpful

    </p>
    <a href='/login'>go to log in screen </a>

</body>
</html>